.menuButton {
  padding: 10px 10px;
  background-color: #1e1e2b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin-right: 10px;
}

.menuButton:hover {
  background-color: #ffc506;
}

.popupMenu {
  position: fixed;
  top: 0;
  right: -250px; /* ซ่อนเมนูด้านขวา */
  width: 250px;
  height: 100%;
  background-color: #1f1d33;
  color: white;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 99999;
}

.popupMenu.open {
  right: 0; /* เมนูเลื่อนเข้ามาด้านขวา */
}

.popupMenu ul {
  list-style: none;
  padding: 0;
}

.popupMenu li {
  margin: 2vw 0;
  padding: 0.5vw;
  font-size: 2vw;
}

.popupMenu li:hover {
  background-color: #757474;
  border-radius: 10px 20px 20px 10px;
}

.li_a {
  font-size: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
